.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 36px;
  padding-bottom: 32px;
}

input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

  cursor: pointer;
  color: #fff;
  background-color: #4e75ff;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 36px 150px 0;
  justify-content: center;
  align-items: center;
}

.gallery-card {
  width: 360px;

  border: 1px solid #808080;
}

.card-image {
  display: block;
}

.card-caption {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
}

.image-tag {
  text-align: center;
}

span {
  display: block;
  margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  background: #fff;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 24px solid #ff3d00;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
